<h2 class="name">{{name}}</h2>
<div class="description">
  <div>
  <p class="capital"><span class="text">Capital: </span>{{capital}}</p>
  <p class="population"><span class="text">Population: </span>{{area}}</p>
  <ul class="languages">Languages: {{#each languages}}<li class="item">{{this.name}}</li>{{/each}}</ul>
  </div>
  <img class="flag" src="{{flag}}" alt="Flag"/>
</div>